{% load static %}
<html>
<head>
<title>Comodoro Open JJ</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<div align="center">
<table id="Tabela_01" width="1024" height="1335" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3">
			<img src="{% static 'images/index_01.png' %}" width="1024" height="20" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img src="{% static 'images/index_02.png' %}" width="26" height="1315" alt=""></td>
		<td>
			<img src="{% static 'images/index_03.png' %}" width="302" height="154" alt=""></td>
		<td rowspan="2">
			<img src="{% static 'images/index_04.png' %}" width="696" height="218" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{% static 'images/index_05.png' %}" width="302" height="64" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{% static 'images/index_06.png' %}" width="998" height="985" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{% static 'images/index_07.png' %}" width="998" height="112" alt=""></td>
	</tr>
</table>
<div>
</body>
</html>
